@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}